<form #emailForm="ngForm">
  <div class="input-group mb-3">
    <input type="text" id="email" name="email" class="form-control" [(ngModel)]="email" placeholder="Changer l'email">
    <div class="input-group-append">
      <button class="btn btn btn-warning" type="button" (click)="changeEmail()">Changer</button>
    </div>
  </div>
</form>
<form>
  <div class="form-row">
      <div class="col">
        <input type="password" name="oldPasswd" class="form-control" placeholder="Ancien mot de passe" [(ngModel)]="oldPasswd">
      </div>
      <div class="col">
          <div class="input-group mb-3">
            <input type="password" class="form-control" placeholder="Nouveau mot de passe" [(ngModel)]="newPasswd" name="newPasswd">
            <div class="input-group-append">
              <button class="btn btn btn-warning" type="button" (click)="changePasswd()">Changer</button>
            </div>
          </div>
      </div>
    </div>
</form>
