<!--The content below is only a placeholder and can be replaced.-->
<div class="jumbotron" *ngIf="utilisateur == null">
    <h1 class="display-3">{{title}}</h1>
    <h3>{{title}}</h3>
    <hr>
</div>

<div class="container">
    <ul class="nav">
        <li class="nav-item">
            <button type="button" class="btn btn-link btn-lg" routerLink="/signin">Connexion</button>
        </li>
        <li class="nav-item">
            <button type="button" class="btn btn-link btn-lg" routerLink="/signup">Inscription</button>
        </li>
    </ul>
</div>

<router-outlet></router-outlet>