<div>
	Vous souhaitez voyager quelque part ? <br/>
	Recherchez les conseils et astuces proposées par les usagers pour votre Destination !

	<div>
		<input type="text" class="form-control" name="lieu" id="lieu" placeholder="Saisissez votre lieu" [(ngModel)]="lieu"/>
		<br>
		<button class="btn btn-outline-success col align-self-center" (click)="show()"> Rechercher </button>
	</div>
</div>

<br>
<br>
<br>

<div>
	Vous avez voyagé quelque part et vous souhaitez partager quelques informations utiles à propos de cet endroit ? <br/>
	Ajoutez des tips pour donner des conseils aux autres utilisateurs !

	<div>
		<button class="btn btn-outline-success col aligne-self-center" routerLink="/newTips"> 
		Ajouter Tips </button>
	</div>
</div>
