<app-dashboard></app-dashboard>
<div class="container" style="margin-top: 20px;">
  <app-afficher-infos-user [user]=user></app-afficher-infos-user>

  <!-- if editer-profil -->
  <app-editer-profil [user]=user (userChanged)="onUserChange($event)"></app-editer-profil>
  <!-- endif editer-profil -->
  
  <!-- if ajouter-photos-compte -->
  <button class="btn btn-primary" (click)="redirectAjouterPhotos()">Ajouter des photos</button>
  <!-- endif ajouter-photos-compte -->

  <!-- if a-visite-plus-tard -->
  <button class="btn btn-secondary" (click)="redirectAVisiterPlusTard()">Visiter plus tard</button>
  <!-- endif a-visite-plus-tard -->

  <!-- if voir-autres-profils -->
  <button class="btn btn-success" (click)="redirectVoirProfils()">Voir profils</button>
  <!-- endif voir-autres-profils -->

  <!-- if afficher-photo -->
  <app-afficher-photo></app-afficher-photo>
  <!-- endif afficher-photo -->
</div>
