<div class="container">
    <nav class="nav" *ngIf="utilisateur != null">
        <button class="btn btn-link btn-lg" routerLink="/recherche-lieux">Rechercher un lieu</button>
        <!-- if edit-profil -->
        <button class="btn btn-link btn-lg" routerLink="/profil">Profil</button>
        <!-- endif edit-profil -->

        <!-- if tips -->
        <button class="btn btn-link btn-lg" routerLink="/tips">Tips</button>
        <!-- endif tips -->

        <button class="btn btn-link btn-lg" (click)="logout()">Déconnexion</button>
    </nav>

    <div class="container" *ngIf="utilisateur == null">
        <ul class="nav">
            <li class="nav-item">
                <button type="button" class="btn btn-link btn-lg" routerLink="/signin">Connexion</button>
            </li>
            <li class="nav-item">
                <button type="button" class="btn btn-link btn-lg" routerLink="/signup">Inscription</button>
            </li>
        </ul>
    </div>
</div>
